<div class="container">
        <div class="info-list">
            <p><b>Argumentos de entrada:</b> {{ entryArguments }}</p>
            <p><b>Path de ejecución:</b> {{ executionPath }}</p>
            <p><b>Nombre de la plataforma (sistema operativo):</b> {{ platform }}</p>
            <p><b>Process id:</b> {{ processId }}</p>
            <p><b>Versión de node.js:</b> {{ nodeVersion }}</p>
            <p><b>Carpeta de proyecto:</b> {{ projectFile }}</p>
            <p><b>Memoria total reservada (rss):</b> {{ rss }}</p>  
            <p><b>Número de procesadores presentes:</b> {{ cpuNums }}</p>  
        </div>
</div>